<!-- <h1>Welcome to the App</h1>
<div *ngFor="let path of routePaths">
  <input
    type="radio"
    name="component"
    (click)="loadModulesOnSelect(path.value)"
    [checked]="path.value === defaultModule"
  />
  {{ path.name }}
</div>

<router-outlet></router-outlet>
 -->

<div class="container">
 
  <div class="menu">
    
    <ul>
      <li
        *ngFor="let path of routePaths"
        (click)="loadModulesOnSelect(path.value)"
        [class.active]="path.value === defaultModule"
      >
        {{ path.name }}
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
